
/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styling */
html,body {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  overflow-x: hidden !important;
  -webkit-text-size-adjust: 100%; }

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
  font-size: 2vh;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
  background-color: #FFD700;
    color: #0B3C49;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

footer a {text-decoration: none}
a:link {color: #23B574;}
a:visited {color: #23B574;}
a:hover {color: #23B574; text-decoration: underline;}
a:active {color: ##33BB99;}

.twitter {
  bottom: 1%;
	right: 1%;
	position: fixed;
}

.title {
	max-width: 100%;
    margin: 5vh auto;
    margin-bottom: 3vh;
    font-family: 'Comfortaa',fantasy;
		text-transform: uppercase;
	text-align: center;
  }

  h1, h2 {
    color: #FFD700;
    font-size: 10vh;
    text-shadow: 1px 1px 0 #f9b302,
                 2px 2px 0 #f9b302,
                 3px 3px 0 #f9b302,
                4px 4px 0 #f9b302,
                 5px 5px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 1px 1px 3px rgba(0,0,0,.3),
                 2px 3px 5px rgba(0,0,0,.2),
                 4px 5px 10px rgba(0,0,0,.25),
                 5px 10px 10px rgba(0,0,0,.2);

  }
	h1 {
		font-size: 6vh;
		padding-bottom: 1%;
	}
  h4 {
    padding-top: 1%;
    font-size: 2vh;
    color: rgba(250, 227, 17, 1);
  }

.generator {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
#idea {
  padding-top: 2vh;
  color: black;
  font-family: 'Comfortaa', sans-serif;
  font-size: 5vh;
  margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* button*/
.button {
  background: #FFBC11;
  border-radius: 50%;
  border: 20px solid #ffe21f;
  box-shadow: inset 5px 5px 3px 5px rgba(255, 158, 17, 0.52);
  -webkit-box-shadow: inset 5px 5px 3px 5px rgba(255, 158, 17, 0.52);
  -moz-box-shadow: inset 5px 5px 3px 5px rgba(255, 158, 17, 0.52);
  color: #ffe21f;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 5px 3px rgba(255, 158, 17, 0.72);
  font-size: 100px;
  height: 120px;
  letter-spacing: 2px;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 120px;
}
.button:focus {
	outline: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
.button:hover {
  background: #ffc32b;
}

.button:active {
  -webkit-box-shadow: inset 5px 5px 10px -5px #f7b100;
          box-shadow: inset 5px 5px 10px -5px #f7b100;
}
.fancy-button {
  margin: 10px auto;
  position: relative;       
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
.fancy-button::selection 
{
 background-color:transparent;
} 
.fancy-button::-moz-selection
{
   background-color:transparent;
}
.fancy-button:focus {
	outline: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}

/*frills*/
.frills, .frills:after, .frills:before {
  position: absolute;
  background: #ffdb1a;
  border-radius: 4px;
  height: 8px;
}

.frills:after, .frills:before {
  content: "";
  display: block;
}

.frills:before {
  bottom: 45px;
}

.frills:after {
  top: 45px;
}

.left-frills {
  right: 164px;
  top: 71px;
}
.active .left-frills {
  -webkit-animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
          animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
}
.left-frills:before, .left-frills:after {
  left: 15px;
}
.active .left-frills:before {
  -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
          animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}
.active .left-frills:after {
  -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
          animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.right-frills {
  left: 164px;
  top: 71px;
}
.active .right-frills {
  -webkit-animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
          animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
}
.right-frills:before, .right-frills:after {
  right: 15px;
}
.active .right-frills:before {
  -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
          animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}
.active .right-frills:after {
  -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
          animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.left-frills:before, .right-frills:after {
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
}

.left-frills:after, .right-frills:before {
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
}

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@keyframes move-left {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}
@-webkit-keyframes move-right {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}
@keyframes move-right {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}
@-webkit-keyframes width-to-zero {
  0% {
    width: 38px;
  }
  100% {
    width: 8px;
  }
}
@keyframes width-to-zero {
  0% {
    width: 38px;
  }
  100% {
    width: 8px;
  }
}
@-webkit-keyframes move-up {
  100% {
    bottom: 69.75px;
  }
}
@keyframes move-up {
  100% {
    bottom: 69.75px;
  }
}
@-webkit-keyframes move-down {
  100% {
    top: 69.75px;
  }
}
@keyframes move-down {
  100% {
    top: 69.75px;
  }
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* hover */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob, .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


/* responsive for phone */
@media only screen and (max-width : 767px) {
  .generator {
  	max-width: 90%;
  }
  h1 {
  	font-size: 5vh;
  }
  h2 {
  	font-size: 8vh;
  }
  #idea {
  	font-size: 4vh;
  }
	footer {
		text-align: left;
	}
}
